## findings
Coreg spielt eine Rolle:
Beispiel 0000004904-21-000010\tAccountsPayableCurrent\tus-gaap/2020 in zip
-> Viele SubCompanies, die einzeln aufgelistet sind.
Entweder filtern wir nur noch no Coreg, oder aber CoregInfo muss mitgehen

<pre>
0000004904-21-000010	AccountsPayableCurrent	us-gaap/2020	SouthwesternElectricPowerCo	20201231	0	USD	135900000.0000	
0000004904-21-000010	AccountsPayableCurrent	us-gaap/2020	SouthwesternElectricPowerCo	20191231	0	USD	138000000.0000	
0000004904-21-000010	AccountsPayableCurrent	us-gaap/2020		20201231	0	USD	1709700000.0000	
0000004904-21-000010	AccountsPayableCurrent	us-gaap/2020		20191231	0	USD	2085800000.0000	

Bestandteil Context / segment
				<xbrldi:explicitMember dimension="dei:LegalEntityAxis">aep:SouthwesternElectricPowerCoMember</xbrldi:explicitMember>
				
				