## findings
Coreg spielt eine Rolle:
Beispiel 0000004904-21-000010\tAccountsPayableCurrent\tus-gaap/2020 in zip
-> Viele SubCompanies, die einzeln aufgelistet sind.
Entweder filtern wir nur noch no Coreg, oder aber CoregInfo muss mitgehen

<pre>
0000004904-21-000010	AccountsPayableCurrent	us-gaap/2020	SouthwesternElectricPowerCo	20201231	0	USD	135900000.0000	
0000004904-21-000010	AccountsPayableCurrent	us-gaap/2020	SouthwesternElectricPowerCo	20191231	0	USD	138000000.0000	
0000004904-21-000010	AccountsPayableCurrent	us-gaap/2020		20201231	0	USD	1709700000.0000	
0000004904-21-000010	AccountsPayableCurrent	us-gaap/2020		20191231	0	USD	2085800000.0000	
0000004904-21-000010	AccountsPayableCurrent	us-gaap/2020	AEPTexasInc.	20201231	0	USD	231700000.0000	
0000004904-21-000010	AccountsPayableCurrent	us-gaap/2020	AEPTexasInc.	20191231	0	USD	256800000.0000	
0000004904-21-000010	AccountsPayableCurrent	us-gaap/2020	PublicServiceCoOfOklahoma	20201231	0	USD	107000000.0000	
0000004904-21-000010	AccountsPayableCurrent	us-gaap/2020	PublicServiceCoOfOklahoma	20191231	0	USD	134300000.0000	
0000004904-21-000010	AccountsPayableCurrent	us-gaap/2020	OhioPowerCo	20201231	0	USD	181000000.0000	
0000004904-21-000010	AccountsPayableCurrent	us-gaap/2020	OhioPowerCo	20191231	0	USD	233700000.0000	
0000004904-21-000010	AccountsPayableCurrent	us-gaap/2020	AppalachianPowerCo	20201231	0	USD	212000000.0000	
0000004904-21-000010	AccountsPayableCurrent	us-gaap/2020	AppalachianPowerCo	20191231	0	USD	307800000.0000	
0000004904-21-000010	AccountsPayableCurrent	us-gaap/2020	IndianaMichiganPowerCo	20201231	0	USD	153200000.0000	
0000004904-21-000010	AccountsPayableCurrent	us-gaap/2020	IndianaMichiganPowerCo	20191231	0	USD	169400000.0000	
0000004904-21-000010	AccountsPayableCurrent	us-gaap/2020	AEPTransmissionCo	20201231	0	USD	380400000.0000	
0000004904-21-000010	AccountsPayableCurrent	us-gaap/2020	AEPTransmissionCo	20191231	0	USD	493400000.0000	</pre>

Bestandteil Context / segment
				<xbrldi:explicitMember dimension="dei:LegalEntityAxis">aep:SouthwesternElectricPowerCoMember</xbrldi:explicitMember>